---
import '../styles/globals.css';
import '@fontsource/roboto';

import { ViewTransitions } from 'astro:transitions';
import { pwaInfo } from 'virtual:pwa-info';

interface Props {
  title: string;
  description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description } = Astro.props;
console.log(pwaInfo);
---

<!--Astro view transitions-->
<ViewTransitions />

<!--misc -->
<meta name="generator" content={Astro.generator} />

<!-- Global Metadata -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<!--<link rel="icon" type="image/svg+xml" href="/favicon.svg" />-->
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta
  property="og:image"
  content={new URL('/screenshots/application-wide.webp', Astro.url)}
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta
  property="twitter:image"
  content={new URL('/screenshots/application-wide.webp', Astro.url)}
/>

<!-- PWA -->
<link rel="mask-icon" href="/pwa-512x512.png" color="#FFFFFF" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="theme-color" content="#ffffff" />
<script src="/src/pwa.ts"></script>

{pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}

<!--Apple -->
<link rel="apple-touch-icon" href="/pwa-192x192.png" />

<!-- Primary Meta Tags -->
<meta name="title" content={title} />
<meta name="description" content={description} />

<title>{title}</title>
