---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

type Props = CollectionEntry<'blog'>['data'] & { slug: string };
const { title, thumbnail, slug } = Astro.props;
---

<li>
  <a
    href={`/blog/${slug}`}
    class="flex justify-between h-24 rounded-s overflow-hidden shadow pl-4 bg-white items-center text-balance gap-8"
  >
    <h4 class="text-foreground font-semibold">{title}</h4>
    {
      thumbnail && (
        <Image
          height={96}
          loading="lazy"
          decoding="async"
          width={96}
          transition:name={title}
          src={thumbnail.src}
          alt={title}
          class="w-24 h-24 rounded-s object-cover"
        />
      )
    }
  </a>
</li>
