---
import { Icon } from 'astro-icon/components';
interface Props {
  title: string;
  thumbnail?: string;
  slug: string;
}

const { title, slug, thumbnail } = Astro.props;
---

<li>
  <a
    href={`/blog/${slug}/`}
    class="flex justify-between h-24 rounded-s overflow-hidden shadow-shadow pl-4 bg-white items-center text-balance gap-8"
  >
    <h4 class="text-foreground font-semibold">{title}</h4>
    {
      thumbnail && (
        <img
          transition:name={thumbnail}
          src={thumbnail}
          alt={title}
          class="w-24 h-24 rounded-s object-cover"
        />
      )
    }
    <!--<Icon name="open" class="w-8 h-8" />-->
  </a>
</li>
