---
import { Icon } from 'astro-icon/components';
type Props = {
  starts: string;
  ends: string;
  label: string;
  description: string;
  location: string;
};

const { starts, description, label, ends, location } = Astro.props;
---

<li
  class="h-[100px] flex rounded-sm overflow-hidden shadow justify-between p-2"
>
  <!-- Left side -->
  <div class="flex flex-col">
    <h4 class="text-xl font-semibold">{label}</h4>
    <p class="text-sm text-muted-foreground">{description}</p>
    <p class="flex text-sm items-center gap-1 mt-auto text-muted-foreground">
      <Icon name="building" />
      {location}
    </p>
  </div>
  <div>
    <div class="flex flex-col">
      <p class="text-muted-foreground">
        Започва: <span class="text-blue-400">{starts}</span>
      </p>
      <p class="text-muted-foreground">
        Свършва: <span class="text-rose-400">{ends}</span>
      </p>
    </div>
  </div>
</li>
